.map__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.map__wrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  max-width: 555px;
  margin-top: 30px;
  margin-bottom: 41px;
  margin-right: 15px;
}

.map__wrapper h1 {
  font-weight: 600;
  font-size: 29px;
  margin-left: -9px;
  line-height: 30px;
}

.map {
  margin-top: 100px;
}

.map__main {
  margin: 0 auto;
  width: 957px;
  height: 530px;
}

.map__footer {
  margin-top: 37px;
  margin-bottom: 100px;
  margin-left: 22px;
}

.map__link {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: #000000;
  }

  &--mail {
    margin-right: 127px;
  }

  &--mail::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 20px;
    left: -40px;
    top: 3px;
    background: url("../../static/images/content/mail.svg");
  }

  &--phone::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 24px;
    left: -36px;
    top: -2px;
    background: url("../../static/images/content/phone.svg");
  }
}

@media (max-width: $tablet-width) {
  .map__main {
    width: 698px;
    height: 545px;
  }

  .map__wrapper p {
    max-width: none;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 18px;

  }

  .map__wrapper h1 {
    font-size: 23px;
    line-height: 30px;
    margin-top: 3px;
    margin-left: 3px;
  }

  .map {
    margin-top: 0;
  }

  .map__footer {
    margin-top: 24px;
    margin-bottom: 100px;
    margin-left: 30px;
  }
}

@media (max-width: $mobile-width) {
  .map__wrapper p {
    margin: 20px 28px 19px 27px;
    font-size: 17px;
  }

  .map__wrapper h1 {
    font-size: 18px;
  }

  .map__main {
    width: 320px;
    height: 250px;
  }

  .map__link {
    &--mail {
      margin: 0;
      margin-bottom: 23px;
    }

    &--phone {
      margin-right: 26px;
    }
  }

  .map__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 32px;
  }
}
