extends layout/main

block variables
	-var title = 'Главная страница'

block content
	section
		.advantages
			a(name="adva")
			h1 Несколько фактов о нас
			.advantages__list
				.advantages__item
					h2 01
					p Самый широкий выбор велосипедов!
				.advantages__item
					h2 02
					p Доставка велосипедов по всей России!
				.advantages__item
					h2 03
					p Большой выбор крутых аксессуаров!
				.advantages__item
					h2 04
					p Профессиональные консультации!
	section
		.types
			a(name="type")
			h1 Виды велосипедов
			.types__block
				.types__block-item.types__block-item--first
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="static/images/content/bike-1.webp 1x, static/images/content/bike-1@2x.webp 2x")
						source(type="image/webp" media="(max-width: 1023px)" srcset="static/images/content/bike-1-tab.webp 1x, static/images/content/bike-1-tab@2x.webp 2x")


						source(media="(max-width: 1023px)" srcset="static/images/content/bike-1-tab.jpg 1x, static/images/content/bike-1-tab@2x.jpg 2x")

						img(src="static/images/content/bike-1.jpg" srcset="static/images/content/bike-1@2x.jpg" width="342" height="503" alt="картинка велосипеда")
					p Дорожный велосипед

				.types__block-item.types__block-item--center
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="static/images/content/bike-2.webp 1x, static/images/content/bike-2@2x.webp 2x")
						source(type="image/webp" media="(max-width: 1023px)" srcset="static/images/content/bike-2-tab.webp 1x, static/images/content/bike-2-tab@2x.webp 2x")


						source(media="(max-width: 1023px)" srcset="static/images/content/bike-2-tab.jpg 1x, static/images/content/bike-2-tab@2x.jpg 2x")

						img(src="static/images/content/bike-2.jpg" srcset="static/images/content/bike-2@2x.jpg" width="342" height="566" alt="картинка велосипеда")
					p Горный велосипед

				.types__block-item.types__block-item--last
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="static/images/content/bike-3.webp 1x, static/images/content/bike-3@2x.webp 2x")
						source(type="image/webp" media="(max-width: 1023px)" srcset="static/images/content/bike-3-tab.webp 1x, static/images/content/bike-3-tab@2x.webp 2x")


						source(media="(max-width: 1023px)" srcset="static/images/content/bike-3-tab.jpg 1x, static/images/content/bike-3-tab@2x.jpg 2x")

						img(src="static/images/content/bike-3.jpg" srcset="static/images/content/bike-3@2x.jpg" width="342" height="512" alt="картинка велосипеда")
					p Детский велосипед
	section
		.video
			a(name="video")
			.video__wrapper
				.video__block
					h1 Видео про велосипеды
					p В этом видео мы подробно расскажем про особенности выбора велосипеда для себя.
					.video__content-block
						picture
							source(type="image/webp" media="(min-width: 1024px)" srcset="static/images/content/bike-video.webp 1x, static/images/content/bike-video@2x.webp 2x")
							source(type="image/webp" media="(max-width: 767px)" srcset="static/images/content/bike-video-mob.webp 1x, static/images/content/bike-video-mob@2x.webp 2x")
							source(type="image/webp" media="(max-width: 1023px)" srcset="static/images/content/bike-video-tab.webp 1x, static/images/content/bike-video-tab@2x.webp 2x")


							source(type="image/webp" media="(max-width: 767px)" srcset="static/images/content/bike-video-mob.jpg 1x, static/images/content/bike-video-mob@2x.jpg 2x")
							source(media="(max-width: 1023px)" srcset="static/images/content/bike-video-tab.jpg 1x, static/images/content/bike-video-tab@2x.jpg 2x")
							img(src="static/images/content/bike-video.jpg" srcset="static/images/content/bike-video@2x.jpg"  width="929"
							height="522" alt="видео про велосипед")
	section
		.map
			a(name="map")
			.map__wrapper
				h1 Как нас найти?
				p Мы находимся по адресу: Санкт-Петербург, ул. Большая Конюшенная, д. 19
				.map__block
					picture
						source(type="image/webp" media="(min-width: 1024px)" srcset="static/images/content/map.webp 1x, static/images/content/map@2x.webp 2x")
						source(type="image/webp" media="(max-width: 767px)" srcset="static/images/content/map-mob.webp 1x, static/images/content/map-mob@2x.webp 2x")
						source(type="image/webp" media="(max-width: 1023px)" srcset="static/images/content/map-tab.webp 1x, static/images/content/map-tab@2x.webp 2x")


						source(type="image/webp" media="(max-width: 767px)" srcset="static/images/content/map-mob.jpg 1x, static/images/content/map-mob@2x.jpg 2x")
						source(media="(max-width: 1023px)" srcset="static/images/content/map-tab.jpg 1x, static/images/content/map-tab@2x.jpg 2x")
						img(class="map__main" src="static/images/content/map.jpg" srcset="static/images/content/map@2x.jpg"  width="957"
							height="530" alt="карта")
				.map__footer
					a(href="mailto:puteshestviemechta@gmail.ru" class="map__link map__link--mail") puteshestviemechta@gmail.ru
					a(href="tel:+749978468446" class="map__link map__link--phone") +7 (499) -784-684-46
