// Sizes
$base-font-size: 16px;

$content: 1000px;

// Fonts
$fontfamali: "Open Sans", "Arial", sans-serif;

//media
$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
