header {
  background: url("../images/content/bg-bike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 240px;
  //height: 825px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../images/content/bg-bike@2x.jpg");
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  margin: 0 auto;
}

.header__list {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 2;
  padding: 0 0 10px 33px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  //&::before {
  //  content: "";
  //  position: absolute;
  //  height: 1px;
  //  width: 872px;
  //  background-color: rgba(255, 255, 255, 0.2);
  //  top: 43px;
  //  left: 12px;
  //
  //}
}

.header__menu {
  width: 100%;
  max-width: 866px;
}

.header__list a {
  font-family: $fontfamali;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  opacity: 0.7;
  display: inline-block;

  &:hover {
    color: #0ad9c6;
  }
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  margin: 0 auto 248px;
}

.header::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  display: flex;
  position: relative;
  align-items: center;
}

.header__body.active {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__burger {
  display: none;
}

.header__item {
  width: auto;
  margin-bottom: 0;
  background: none;
}

@media (max-width: $tablet-width) {
  body.lock {
    overflow: hidden;
  }

  .header__item {
    width: 100%;
    background: #ececec;
    margin-bottom: 31px;
    padding-top: 13px;
    padding-bottom: 17px;
  }

  header {
    background: url("../images/content/bg-tab-bike.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 340px;
    height: 340px;
    padding-bottom: 0;
    margin-bottom: 350px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../images/content/bg-tab-bike@2x.jpg");
    }
  }

  .header__logo-block {
    margin-left: 20px;
    margin-top: 17px;
  }

  .header__body {
    justify-content: space-between;
  }

  .header__body.active {
    justify-content: space-between;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 3;
    background: #0ad9c6;
  }

  .header__burger.active {
    background: none;
    margin-right: 6px;
  }

  .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 15px;
    width: 22.5px;
    height: 2px;
    top: 22px;
    transition: all 0.3s ease 0s;
    margin-top: 2px;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 22.5px;
    height: 2px;
    left: 15px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 17px;
  }

  .header__burger::after {
    bottom: 18px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 23px;
    width: 30px;
    background-color: rgba(20, 21, 23, 0.2);
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 24px;
    width: 31px;
    background-color: rgba(20, 21, 23, 0.2);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    max-width: 1023px;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    padding: 70px 0 20px 0;
  }

  .header__container {
    max-width: none;
    padding-top: 0;
  }

  .header__menu.active {
    top: 0;
    padding: 103px 0 20px;
  }

  .header__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }

  .header__list a {
    width: 100%;
    text-align: left;
    padding-left: 16px;
    color: #000000;
    opacity: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 17px;
      background: url("../images/content/mini-arrow.svg");
      background-repeat: no-repeat;
      right: 0;
      margin-top: 10px;
    }
  }

  .header {
    margin-bottom: 51px;
  }
}

@media (max-width: $mobile-width) {
  header {
    background: url("../images/content/bg-mob-bike.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 350px;
    height: 390px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../images/content/bg-mob-bike@2x.jpg");
    }
  }

  .header__logo-block {
    margin-left: 17px;
  }

  .header {
    margin-bottom: 37px;
  }
}


@media (max-width: 410px) {
  header {
    margin-bottom: 362px;
  }
}
