footer
    .footer__container
        a(href="mailto:puteshestviemechta@gmail.ru" class="footer__link footer__link--mail") puteshestviemechta@gmail.ru
            +icon("mail")
        a(href="tel:+749978468446" class="footer__link footer__link--phone") +7 (499) -784-684-46
            +icon("phone")
